*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#todo_form{
    margin: 20px;
}

#todo_form form{
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    place-items: center;
}



#floatingInput{
    width: 50%;
}

#main div{
    margin: 20px;
    display: flex;  
    gap: 20px;
}